button {
    background: rgb(198, 6, 153);
    width: 100px;
    height: 50px;
    margin: 10px;
    text-align: center;
}

p {
    color: azure;
}

body {
    background-color: rgb(12, 63, 100);
}

#task {
    display: flex;
    justify-content: center;
}